/*Fonte Característica: font-family: 'Dawning of a New Day', cursive;*/
/*Fonte Regular: font-family: 'Quicksand', sans-serif;*/
/*Fonte Título: font-family: 'Raleway', sans-serif;*/
/*  Amarelo Claro: #FFEBDA,
    Rosa Escuro: #EB9191,
    Rosa Claro: #FFBEBE,
    Marrom Claro: #B49B91,
    Marrom Escuro: #996F6F*/

body {
    background: #EEEEEE;
}

a {
    text-decoration: none;
}

/*CSS Cabeçalho*/

.topo {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    background: linear-gradient(#FFEBDA 70%,#EEEEEE);
    padding: 10px 0;
}

.topo-freeze {
    width: 100%;
    height: 120px;
}

.topo-esquerda{
    width: 60%;
    display: inline-block;
}

.topo-direita{
    width: 40%;
    display: inline-block;
}

.logo {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    transition: 1s;
}

.logo:hover{
    transform: scale(1.2);
}

.texto-logo {
    display: inline;
    vertical-align: middle;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 70px;
    font-weight: 500;
    transition: 1s;
}

.texto-logo:hover {
    text-shadow: 5px 5px 5px #EB9191;
}

nav {
    width: 75%;
    position: absolute;
    top: 40px;
    right: 100px;
    text-align: right;
}

nav li {
    display: inline;
    font-size: 25px;
    margin: 0 0 0 25px;
}

nav li a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    transition: 500ms;
}

nav li a:hover {
    background: #000000;
    color: #EEEEEE;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #EB9191;
}

/*CSS Corpo*/

.banner {
    display: inline-block;
    height: 300px;
    margin-top: 20px;
}

.video {
    width: 100%;
    height: 300px;
}

#video-bg {
    position: absolute;
    min-width: 100%;
    min-height: 300px;
    opacity: 0.8;
    vertical-align: middle;
    border-radius: 10px;
}

.txt-banner-upper {
    position: relative;
    top: -270px;
    right: -25px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 75px;
    text-shadow: 5px 5px 5px#FFEBDA;
    font-weight: 700;
    padding-left: 25px;
}

.txt-banner-down {
    position: relative;
    top: -20px;
    left: 580px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 75px;
    text-shadow: 5px 5px 5px#FFEBDA;
    font-weight: 700;
    padding-right: 25px;
}

/*CSS Seções*/

.secao-padrao {
    height: 400px;
    background: #EEEEEE;
    padding: 25px 40px;
    margin-top: 50px;
}

.secao-padrao-2 {
    height: 400px;
    background: #EEEEEE;
    padding: 25px 40px;
}

.divisor {
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;
    background: #EEEEEE;
}

#line-divisor {
    display: inline-block;
    width: 100px;
    border: 0.5px solid #999999;
    vertical-align: middle;
    margin: 0 10px;
}

#img-divisor {
    width: 20px;
    vertical-align: middle;
}

.secao-left {
    width: calc(50% - 50px);
    height: 380px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 25px;
}

.secao-right {
    width: calc(50% - 50px);
    height: 380px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 25px;
}

.titulo-secao {
    font-family: 'Dawning of a New Day', cursive;
    color: #996F6F;
    width: 70%;
    font-size: 45px;
    padding: 0 10px;
    text-align: left;
}

.titulo-secao-central {
    font-family: 'Dawning of a New Day', cursive;
    color: #996F6F;
    width: 100%;
    font-size: 75px;
    padding: 0 10px;
    text-align: center;
    margin: 20px auto;
}

.p-home-left {
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    text-align: left;
    width: 100%;
    font-size: 25px;
    padding: 30px 10px;
}

.p-home-right {
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    text-align: right;
    width: 100%;
    font-size: 15px;
    padding: 30px 10px;
}

.img-home {
    border-radius: 15px;
    box-shadow: 10px 10px 0 #EB9191;
}

.veja-mais {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 50%;
    background: #EB9191;
    color: #000000;
    padding: 15px;
    box-shadow: 5px 5px 0 #000000;
    transition: 400ms;
    text-decoration: none;
}

.veja-mais:hover {
    font-size: 21px;
    background: #000000;
    color: #FFFFFF;
    box-shadow: 5px 5px 0 #EB9191;
    transform: scale(1.05);
}

.img-icone {
    display: inline-block;
    position:relative;
    top: -55px;
    left: 25%;
    transition: 400ms;
}

.img-icone:hover { 
    transform: scale(1.1);
}

.secao-center {
    width: calc(100% - 20px);
    height: 380px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}



.diferenciais {
    width: 100%;
    vertical-align: middle;
    padding: 10px 0;
    margin: auto 0;
}

.diferenciais li{
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 320px;
    vertical-align: top;
    margin: 0 5%;
    padding: 30px 20px;
    border:3px solid #222222;
    color: #EEEEEE;
    box-sizing: border-box;
    box-shadow: 5px 5px 0 #EB9191;
    transition: 400ms;
}

.diferenciais li:hover{
    transform: scale(1.05);
}

.difer {
    font-size: 25px;
    font-weight: 700;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
}

.desc {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
}

.contato {
    width: 100%;
    vertical-align: middle;
    padding: 10px 0;
    margin: 30px 0;
}

.contato li{
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 200px;
    vertical-align: middle;
    margin: 0 15px;
    padding: 30px 20px;
    transition: 400ms;
}

.contato li:hover{
    transform: scale(1.05);
}

.contat {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.contato li a {
    text-decoration: none;
}

.backtotop {
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: -10px;
    color: #888888;
    width: 100%;
    font-size: 30px;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.sabor{
    transition: 2s;
}

.sabor:hover {
    transform: rotate(360deg);
}

.lista-itens {
    width: 100%;
    vertical-align: middle;
    padding: 25px;
    margin: 0 25px;
}

.lista-itens li{
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 20px;
    vertical-align: middle;
    padding-top: 15px;
}

.item {
    font-size: 25px;
    font-weight: 500;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.item::before {
    content: '🍪';
}

form {
    margin: 40px auto;
    text-align: center;
}

form label, form legend {
    display: block;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}

.input-padrao {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 27px;
    font-family: 'Raleway', sans-serif;
}

.input-padrao-msg {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}

.secao-center-2 {
    width: 70%;
    height: 480px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 16%;
}

.secao-padrao-3 {
    height: 500px;
    background: #EEEEEE;
    padding: 25px 40px;
    position: relative;
    top: -150px
}

.enviar {
    margin: 30px 0;
    width: 40%;
    padding: 15px 0;
    color: white;
    font-weight: bold;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    background: #FFBEBE;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #EB9191;
    transform: scale(1.1);
}

.img-banner {
    opacity: 0.7;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}


/*CSS Rodapé*/

footer {
    background: url('img/rodapé.png');
    height: 120px;
    text-align: center;
    padding: 20px 0;
}

.separador{
    height: 20px;
    background: linear-gradient(#EEEEEE 30%, #FFEBDA);
    opacity: 0.5;
}

.logo-rodape {
    width: 100px;
    text-align: center;
}

.copyright {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
}